<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="Ghostscript.NET" version="1.2.3" targetFramework="net45" />
  <package id="itext7" version="7.1.18" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net45" />
  <package id="PdfSharp" version="1.50.5147" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net45" />
  <package id="Saraff.Twain" version="1.0.32.732" targetFramework="net45" />
  <package id="Select.Pdf" version="22.2.0" targetFramework="net45" />
  <package id="WiaDotNet" version="1.0" targetFramework="net45" />
</packages>